#daddy{
    height:40vh;
    width:25vw;
    background-color: blue;
    display:flex;
    flex-direction: row;
}
#left{
    height:100%;
    width:15%;
    background-color: aquamarine;
}
#title{
    height:100%;
    width:70%;
    background-color: rgb(9, 9, 9);
}
#right{
    height:100%;
    width:15%;
    background-color:red;
}